@font-face {
    font-family: 'G700';
    src: url('./fonts/GrtskGiga-Bold.woff2') format('woff2'),
        url('./fonts/GrtskGiga-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'T400';
    src: url('./fonts/GrtskTera-Regular.woff2') format('woff2'),
        url('./fonts/GrtskTera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'T700';
    src: url('./fonts/GrtskTera-Bold.woff2') format('woff2'),
        url('./fonts/GrtskTera-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'T600';
    src: url('./fonts/GrtskTera-Semibold.woff2') format('woff2'),
        url('./fonts/GrtskTera-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'G400';
    src: url('./fonts/GrtskGiga-Regular.woff2') format('woff2'),
        url('./fonts/GrtskGiga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: calc(16 * 100vw / 576);
}

@media (min-width: 768px) {
    html {
        font-size: calc(16 * 100vw / 768);
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fix-wrapper {
    flex-grow: 1;
}

.fix-menu {
    display: flex;
    flex-direction: column;
}

.header-menu-btm,
.header__menu-c {
    flex-grow: 1;
}

.header__menu .header__menu-c{
    background: #2361F5;
}

/* header */

.header {
    background: #fff;
    box-shadow: 0 calc(4 * 100vw / 576) calc(8 * 100vw / 576) rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    padding-top: calc(11 * 100vw / 576);
    padding-bottom: calc(10 * 100vw / 576);

}

.custom-logo-link{
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
}

/* .open-menu.header {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
} */

@media (min-width: 768px) {

    .header {
        box-shadow: 0 calc(4 * 100vw / 768) calc(8 * 100vw / 768) rgba(0, 0, 0, 0.1);
        padding-top: calc(11 * 100vw / 768);
        padding-bottom: calc(10 * 100vw / 768);
    }
}

@media (min-width: 1200px) {

    .header {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .custom-logo-link:hover{
        transform: scale(1.1);
    }

}

/* burger */

.header__burger {
    height: calc(40 * 100vw / 576);
    width: calc(40 * 100vw / 576);
    padding: 0;
    position: relative;
    z-index: 20;
}

.navbar-toggler-icon {
    position: relative;
    display: inline-block;
}

.open-menu .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler-icon,
.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
    width: calc(40 * 100vw / 576);
    height: calc(3 * 100vw / 576);
    background: #000;
    transition: all .2s ease;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
    left: 0;
    position: absolute;
    content: "";
}

.navbar-toggler-icon:before {
    width: calc(24 * 100vw / 576);
    top: calc(-15 * 100vw / 576);
}

.open-menu .navbar-toggler-icon:before {
    width: calc(43 * 100vw / 576);
    top: 0;
    transform: rotate(45deg);
}

.navbar-toggler-icon:after {
    width: calc(34 * 100vw / 576);
    top: calc(15 * 100vw / 576);
}

.open-menu .navbar-toggler-icon:after {
    width: calc(43 * 100vw / 576);
    top: 0;
    transform: rotate(-45deg);
}

@media (min-width: 768px) {
    .header__burger {
        height: calc(40 * 100vw / 768);
        width: calc(40 * 100vw / 768);
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        width: calc(40 * 100vw / 768);
        height: calc(3 * 100vw / 768);
    }

    .navbar-toggler-icon:before {
        width: calc(24 * 100vw / 768);
        top: calc(-15 * 100vw / 768);
    }

    .open-menu .navbar-toggler-icon:before {
        width: calc(43 * 100vw / 768);
    }

    .navbar-toggler-icon:after {
        width: calc(34 * 100vw / 768);
        top: calc(15 * 100vw / 768);
    }

    .open-menu .navbar-toggler-icon:after {
        width: calc(43 * 100vw / 768);
    }
}

@media (min-width: 1200px) {

    .header__burger {
        height: 40px;
        width: 40px;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        width: 40px;
        height: 3px;
    }

    .navbar-toggler-icon:before {
        width: 24px;
        top: -15px;
    }

    .open-menu .navbar-toggler-icon:before {
        top: 0;
        width: 43px;
    }

    .navbar-toggler-icon:after {
        width: 34px;
        top: 15px;
    }

    .open-menu .navbar-toggler-icon:after {
        width: 43px;
        top: 0;
    }

}

/* menu*/

.header__menu,
.header__menu-second {
    padding-top: calc(233 * 100vw / 576);
    position: fixed;
    background: #fff;
    width: 100vw;
    top: 0;
    z-index: 10;
    right: -200%;
    transition: all .7s ease;
    height: 100%;
    overflow-y: auto;
}

.logo {
    position: relative;
    z-index: 20;
}

#menu-top_menu {
    padding: 0 15px;
}

#menu-top_menu a {
    padding: 0;
}

#menu-top_menu li {
    margin: 0 0 calc(32 * 100vw / 576);
}

#menu-top-menu-second .sub-menu li:last-child {
    margin-bottom: calc(25 * 100vw / 576);
}

.open-menu .header__menu {
    right: 0;
}

.header__menu .nav-link {
    font-size: calc(70 / 16 * 1rem);
    line-height: calc(84 / 16 * 1rem);
    font-family: 'T600';
    text-transform: uppercase;
    color: #000;
}

.header-menu-btm {
    background: #2361F5;
    padding: calc(50 * 100vw / 576) 30px 0;
}

.header-menu-btm a {
    font-family: 'T600';
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    font-size: calc(24 / 16 * 1rem);
    line-height: calc(28 / 16 * 1rem);
    transition: all .2s ease;
    text-transform: lowercase;
}

.header-menu-btm a+a {
    margin-top: calc(30 * 100vw / 576);
}

.header-menu-btm ul {
    padding: calc(83 * 100vw / 576) 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.header-menu-btm p:last-child {
    margin-bottom: 0;
}

.header-menu-btm ul li {
    list-style: none;
}

.header-menu-btm ul a {
    font-size: calc(17 / 16 * 1rem);
    line-height: calc(20 / 16 * 1rem);
    margin-bottom: 0;
    text-transform: uppercase;
}

.open-menu-second .header__menu-second {
    z-index: 15;
    right: 0;
    width: 100%;
}

#menu-top-menu-second {
    padding: 0 calc(15 * 100vw / 576);
}

#menu-top-menu-second .sub-menu a {
    color: rgba(0, 0, 0, 1);
    font-size: calc(40 / 16 * 1rem);
    line-height: calc(33 / 16 * 1rem);
}

#menu-top-menu-second a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'T700';
}

#menu-top-menu-second li {
    margin-bottom: calc(64 * 100vw / 576);
    list-style: none;
}

#menu-top-menu-second>li>a {
    font-size: calc(70 / 16 * 1rem);
    line-height: calc(84 / 16 * 1rem);
    color: #2361F5;
    margin-bottom: calc(64 * 100vw / 576);
}

.header__menu-second-btn {
    position: absolute;
    width: calc(150 * 100vw / 576);
    height: calc(30 * 100vw / 576);
    left: calc(37 * 100vw / 576);
    top: calc(-96 * 100vw / 576);
}

.header__menu-second-btn:before,
.header__menu-second-btn:after {
    content: "";
    position: absolute;
    border-bottom: calc(4 * 100vw / 576) solid #000;
}

.header__menu-second-btn:before {
    width: 100%;
    top: 50%;
}

.header__menu-second-btn:after {
    width: calc(20 * 100vw / 576);
    height: calc(20 * 100vw / 576);
    top: calc(7 * 100vw / 576);
    left: 0;
    border-left: calc(4 * 100vw / 576) solid #000;
    transform: rotate(45deg);
}

@media (max-width: 767px){
    .header-btm-fix{
        padding: 0;
    }
}

@media (min-width: 768px) {

    .header__menu,
    .header__menu-second {
        padding-top: calc(233 * 100vw / 768);
    }

    #menu-top_menu {
        padding: 0;
    }

    #menu-top_menu li {
        margin: 0 0 calc(32 * 100vw / 768);
    }

    #menu-top-menu-second .sub-menu li:last-child {
        margin-bottom: calc(25 * 100vw / 768);
    }

    .open-menu .header__menu {
        right: 0;
    }

    .header-menu-btm {
        padding: calc(50 * 100vw / 768) calc(15 * 100vw / 768) 0;
    }

    .header-menu-btm a+a {
        margin-top: calc(30 * 100vw / 768);
    }

    .header-menu-btm ul {
        padding: calc(83 * 100vw / 768) 0;
        justify-content: start;
        margin-right: calc(33 * 100vw / 768);
    }

    #menu-top-menu-second {
        padding: 0;
    }

    #menu-top-menu-second li {
        margin-bottom: calc(64 * 100vw / 768);
    }

    #menu-top-menu-second>li>a {
        margin-bottom: calc(64 * 100vw / 768);
    }

    .header__menu-second-btn {
        width: calc(150 * 100vw / 768);
        height: calc(30 * 100vw / 768);
        left: calc(21 * 100vw / 768);
        top: calc(-96 * 100vw / 768);
    }

    .header__menu-second-btn:before,
    .header__menu-second-btn:after {
        border-bottom: calc(4 * 100vw / 768) solid #000;
    }

    .header__menu-second-btn:after {
        width: calc(20 * 100vw / 768);
        height: calc(20 * 100vw / 768);
        top: calc(7 * 100vw / 768);
        border-left: calc(4 * 100vw / 768) solid #000;
    }

}

@media (min-width: 1200px) {

    .header__menu {
        position: fixed;
        right: -200%;
        top: 0;
        width: 100vw;
    }

    .open-menu .header__menu {
        right: 0;
    }

    .header__menu,
    .header__menu-second {
        padding-top: 240px;
    }

    .header__menu-c {
        background: #2361F5;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    #menu-top_menu {
        padding: 0 15px;
    }

    #menu-top_menu a {
        padding: 0;
        transition: all .2s ease;
    }

    .header #menu-top_menu .nav-link:hover {
        color: #2361F5;
    }

    #menu-top_menu li {
        margin-bottom: 32px;
    }

    #menu-top_menu li {
        max-width: 50%;
    }

    #menu-top_menu>li:last-child {
        margin-bottom: 74px;
    }

    #menu-top-menu-second .sub-menu li:last-child {
        margin-bottom: 0;
    }

    .header__menu .nav-link {
        font-size: 70px;
        line-height: 84px;
    }

    .header-menu-btm {
        padding: 50px 30px 104px;
    }

    .header-menu-btm a {
        font-size: 20px;
        line-height: 24px;
    }

    .header-menu-btm a:hover {
        color: rgba(255, 255, 255, 0.82)
    }

    .header-menu-btm a+a {
        margin-top: 32px;
    }

    .header-menu-btm ul {
        padding: 64px 0 0;
    }

    .header-menu-btm li {
        padding: 0;
        margin-right: 32px;
    }

    .header-menu-btm ul a {
        font-size: 17px;
        line-height: 20px;
    }

    .open-menu-second .header__menu-second {
        right: 0;
    }

    #menu-top-menu-second {
        padding: 0;
    }

    #menu-top-menu-second .sub-menu a {
        color: #000;
        font-size: 40px;
        line-height: 33px;
        transition: all .2s ease;
    }

    #menu-top-menu-second .sub-menu a:hover {
        color: #2361F5;
    }

    #menu-top-menu-second li {
        margin-bottom: 64px;
    }

    #menu-top-menu-second>li>a {
        font-size: 70px;
        line-height: 84px;
        color: #2361F5;
        transition: all .2s ease;
        margin-bottom: 64px;
    }

    #menu-top-menu-second>li>a:hover {
        color: #000;
    }

    .header__menu-second-btn {
        width: 150px;
        height: 30px;
        left: 30px;
        top: -96px;
        transition: all .2s ease;
    }

    .header__menu-second-btn:before,
    .header__menu-second-btn:after {
        border-bottom: 4px solid #000;
    }

    .header__menu-second-btn:after {
        width: 20px;
        height: 20px;
        top: 7px;
        border-left: 4px solid #000;
    }

    .header__menu-second-btn:hover:before,
    .header__menu-second-btn:hover:after {
        border-bottom: 4px solid #2361F5;
    }

    .header__menu-second-btn:hover:after {
        border-left: 4px solid #2361F5;
    }

    .header__menu-second .second-inner{
        padding-left: 21px;
    }
}

/* footer */

.footer {
    background: #2361F5;
    padding-top: calc(50 * 100vw / 576);
    flex-shrink: 0;
}

.footer a {
    font-family: 'T600';
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    font-size: calc(24 / 16 * 1rem);
    line-height: calc(28 / 16 * 1rem);
    transition: all .2s ease;
    text-transform: lowercase;
}

.footer a+a {
    margin-top: calc(30 * 100vw / 576);
}

.footer ul {
    padding: calc(53 * 100vw / 576) 0 calc(83 * 100vw / 576);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.footer ul li {
    list-style: none;
}

.footer ul+p {
    margin: 0;
}

.footer ul a {
    font-size: calc(17 / 16 * 1rem);
    line-height: calc(20 / 16 * 1rem);
    margin-bottom: 0;
    text-transform: uppercase;
}

.footer p {
    margin-bottom: calc(30 * 100vw / 576);
}

.footer p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .footer {
        padding-top: calc(32 * 100vw / 768);
    }

    .footer a {
        font-size: calc(20 / 16 * 1rem);
        line-height: calc(24 / 16 * 1rem);
    }

    .footer ul a {
        font-size: calc(17 / 16 * 1rem);
        line-height: calc(20 / 16 * 1rem);
    }

    .footer a+a {
        margin-top: calc(32 * 100vw / 768);
    }

    .footer ul {
        padding: calc(64 * 100vw / 768) 0 calc(104 * 100vw / 768);
        justify-content: start;
    }

    .footer li {
        margin-right: calc(32 / 16 * 1rem);
    }

    .footer p {
        margin-bottom: calc(30 * 100vw / 768);
    }
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 50px;
    }

    .footer a {
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        line-height: 24px;
        transition: all .2s ease;
    }

    .footer a:hover {
        color: rgba(255, 255, 255, 0.82);
    }

    .footer a+a {
        margin-top: 30px;
    }

    .footer ul {
        padding: 53px 0 104px;
        margin-bottom: 0;
    }

    .footer li {
        margin-right: 32px;
    }

    .footer ul a {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .footer p {
        margin-bottom: 30px;
    }

    .footer p:last-child {
        margin-bottom: 0;
    }
}

/* main-head */

/* head-top */

.main-head {
    padding-top: calc(96 * 100vw / 576);
    padding-bottom: 0;
    color: #000;
}

/* @media (min-width: 576px) and (max-width: 576px) {
    .main-head {
        padding: calc(96 * 100vw / 576) calc(19 * 100vw / 576) 0;
    }
} */

@media (min-width: 720px) and (max-width: 767px) {
    .main-head {
        padding: calc(96 * 100vw / 576) calc(20 * 100vw / 576) 0;
    }
}

.main-head-span {
    color: #2361F5;
}

.main-head h1 {
    text-transform: uppercase;
    font-family: 'T600';
    font-size: calc(78 / 16 * 1rem);
    line-height: calc(78 / 16 * 1rem);
    letter-spacing: calc(-9 / 16 * 1rem);
}

.main-head h1:after {
    content: "";
    position: absolute;
    height: calc(1 * 100vw / 576);
    width: calc(270 * 100vw / 576);
    background: #000;
    left: 0;
    bottom: 0;
}

.main-head-block {
    padding-top: calc(64 * 100vw / 576);
    padding-bottom: calc(64 * 100vw / 576);
    position: relative;
}

.main-head-block p {
    text-align: center;
    font-family: 'T400';
    font-size: calc(12 / 16 * 1rem);
    line-height: calc(14 / 16 * 1rem);
    text-transform: uppercase;
}

.main-head-block p:last-child {
    margin-bottom: 0;
}

.wp-block-buttons {
    justify-content: center;
}

.wp-block-button__link {
    color: #fff;
    background: #000;
    font-family: 'T700';
    height: calc(80 * 100vw / 576);
    width: calc(330 * 100vw / 576);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: calc(20 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
    border-radius: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: calc(32 * 100vw / 576);
}

.wp-block-button__link:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .main-head {
        padding-top: calc(96 * 100vw / 768);
    }

    .main-head h1 {
        font-size: calc(78 / 16 * 1rem);
        line-height: calc(84 / 16 * 1rem);
    }

    .main-head h1:after {
        height: calc(1 * 100vw / 768);
        width: calc(270 * 100vw / 768);
    }

    .main-head-block {
        padding-top: calc(64 * 100vw / 768);
        padding-bottom: calc(64 * 100vw / 768);
    }

    .wp-block-button__link {
        height: calc(80 * 100vw / 768);
        width: calc(330 * 100vw / 768);
        margin-bottom: calc(32 * 100vw / 768);
    }

}

@media (min-width: 1200px) {
    .main-head {
        padding-top: 96px;
    }

    .main-head h1 {
        font-size: 128px;
        line-height: 128px;
        letter-spacing: -9px;
    }

    .main-head h1:after {
        height: 1px;
        width: 477px;
    }

    .main-head-block {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .main-head-block p {
        font-size: 12px;
        line-height: 12px;
    }

    .wp-block-button__link {
        height: 80px;
        width: 330px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;
        transition: all .2s ease;
    }

    .wp-block-button__link:hover {
        background: #2361F5;
    }

}

/* cases */

/* top-btn */

.main-cases {
    padding-bottom: calc(96 * 100vw / 576);
}

.main-cases-btn {
    margin-bottom: calc(32 * 100vw / 576);
}

.main-cases-btn ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.main-cases-btn li {
    list-style: none;
    padding: 0;
}

.main-cases-btn a,
.main-cases-btn li {
    font-family: 'T400';
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    text-transform: uppercase;
    color: #000;
    position: relative;
}

.main-cases-btn li img {
    height: calc(19 * 100vw / 576);
    margin-left: calc(4 * 100vw / 576);
}

.main-cases-btn a img {
    height: calc(12 * 100vw / 576);
    margin-left: calc(4 * 100vw / 576);
}

.main-cases-btn a:hover {
    text-decoration: none;
}

.main-cases-block h4 {
    font-family: 'G700';
    font-size: calc(22 / 16 * 1rem);
    line-height: calc(26 / 16 * 1rem);
    text-transform: uppercase;
}

.main-cases-block p {
    font-family: 'T400';
    font-size: calc(12 / 16 * 1rem);
    line-height: calc(14 / 16 * 1rem);
    text-transform: uppercase;
}

.main-cases-btn-help li:first-child {
    display: none;
}

.main-cases-btn-help ul {
    justify-content: end;
    margin-top: calc(-8 * 100vw / 576);
    margin-bottom: 0;
}

.main-cases-btn-help li {
    margin-left: auto;
}

.main-cases-btn-help {
    margin-bottom: 0;
}

.main-cases-block {
    width: calc(510 * 100vw / 576);
    margin: 0 auto;
}

.main-cases-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cases-img-wrapper{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.main-cases-block figure {
    width: calc(510 * 100vw / 576);
    height: calc(510 * 100vw / 576);
    margin: 0;
}

.main-cases-block a {
    text-decoration: none;
    color: #000;
}

.cases-hover{
    display: none;
}

@media (min-width: 768px) {
    .main-cases {
        padding-bottom: calc(96 * 100vw / 768);
    }

    .main-cases-btn {
        margin-bottom: calc(32 * 100vw / 768);
    }

    .main-cases-btn li img {
        height: calc(19 * 100vw / 768);
        margin-left: calc(4 * 100vw / 768);
    }

    .main-cases-btn a img {
        height: calc(12 * 100vw / 768);
        margin-left: calc(4 * 100vw / 768);
    }

    .main-cases-block h4 {
        font-size: calc(14 / 16 * 1rem);
        line-height: calc(17 / 16 * 1rem);
    }

    .main-cases-block p {
        font-family: 'T400';
        font-size: calc(8 / 16 * 1rem);
        line-height: calc(9 / 16 * 1rem);
    }

    .main-cases-btn-help ul {
        margin-top: calc(-8 * 100vw / 768);
    }

    .main-cases-block figure {
        width: 330px;
        height: 330px;
    }

    .main-cases-block {
        width: 48%;
        height: auto;
        margin: 0 0 calc(12 * 100vw / 768);
    }

    .main-cases-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-cases-btn-help {
        margin-left: auto;
        margin-bottom: 0;
    }

}

@media (min-width: 992px) {
    .main-cases-block figure {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1200px) {
    .main-cases {
        padding-bottom: 32px;
    }

    .main-cases-btn {
        margin-bottom: 32px;
    }

    .main-cases-btn a,
    .main-cases-btn li {
        font-size: 16px;
        line-height: 19px;
    }

    .main-cases-btn li img {
        height: 19px;
        margin-left: 4px;
    }

    .main-cases-btn a img {
        height: 12px;
        margin-left: 4px;
    }

    .main-cases-btn a {
        text-decoration: none;
        transition: all .2s ease;
    }

    .main-cases-btn a:hover {
        color: #2361F5;
    }

    .main-cases-btn a:hover:before {
        background: #000;
    }

    .main-cases-btn a:hover:after {
        border-left: 1px solid #2361F5;
        border-top: 1px solid #2361F5;
    }

    .main-cases-btn li:last-child {
        padding-right: 16px;
    }

    .main-cases-btn li:first-child:before {
        height: 19px;
        width: 1px;
        right: -8px;
    }

    .main-cases-btn li:first-child:after {
        height: 5px;
        width: 5px;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        right: -10px;
    }

    .main-cases-block h4 {
        font-size: 22px;
        line-height: 26px;
    }

    .main-cases-block p {
        font-size: 12px;
        line-height: 14px;
    }

    .main-cases-btn-help ul {
        margin-top: -8px;
    }

    .main-cases-block {
        width: 540px;
        margin-bottom: 16px;
        transition: all .2s ease;
    }

    .main-cases-block a {
        transition: all .2s ease;
    }

    .main-cases-block a:hover {
        color: #000;
    }

    .main-cases-block:hover {
        text-decoration: none;
    }

    .main-cases-block figure {
        width: 540px;
        height: 540px;
    }

    .cases-hover{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        display: block;
        background: #47EA44;
        height: 100%;
        transition: all .3s ease;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #fff;
    }

    .main-cases-block:hover .cases-hover{
        top: 0;
    }

    .cases-hover h3{
        font-family: 'G700';
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
    }

    .cases-hover-descr{
        font-family: 'T400';
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin-top: auto;
    }

    .main-cases-block .cases-hover .cases-hover-descr2{
        text-transform: none;
        font-size: 22px;
        line-height: 26px;
        margin-top: 0;
    }

}

/* main-services */

.main-center-menu {
    padding-top: calc(96 * 100vw / 576);
    padding-bottom: calc(96 * 100vw / 576);
    background: #2361F5;
}

.main-menu__ul {
    padding: 0;
}

.main-center-menu a {
    color: rgba(255, 255, 255, 1);
    font-family: 'T700';
    font-size: calc(67 / 16 * 1rem);
    line-height: calc(54 / 16 * 1rem);
    text-transform: uppercase;
    padding: 0;
    transition: all .2s ease;
}

.main-center-menu li {
    margin-bottom: calc(96 * 100vw / 576);
    list-style: none;
}

.main-center-menu li:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .main-center-menu {
        padding-top: calc(96 * 100vw / 768);
        padding-bottom: calc(96 * 100vw / 768);
    }

    .main-center-menu a {
        font-size: calc(70 / 16 * 1rem);
        line-height: calc(60 / 16 * 1rem);
    }

    .main-center-menu li {
        margin-bottom: calc(60 * 100vw / 768);
    }

}

@media (min-width: 1200px) {
    .main-center-menu {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .main-center-menu a {
        font-size: 150px;
        line-height: 123px;
    }

    .main-center-menu a:hover {
        color: rgba(255, 255, 255, 0.82);
    }

    .main-center-menu li {
        margin-bottom: 60px;
    }

}

/* main-awards */

.main-awards {
    padding-top: calc(96 * 100vw / 576);
    background: #000;
}

.main-awards h2,
.main-awards h3,
.main-awards h4,
.main-awards h5,
.main-awards h6 {
    font-family: 'G700';
    font-size: calc(28 / 16 * 1rem);
    line-height: calc(34 / 16 * 1rem);
    color: #2361F5;
    margin-bottom: calc(75 * 100vw / 576);
    text-transform: uppercase;
}

.main-awards .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-awards-head {
    position: relative;
}

.main-awards figure {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(64 * 100vw / 576);
    position: relative;
}

.main-awards img {
    width: calc(150 * 100vw / 576);
    height: auto;
    object-fit: contain;
}

.main-awards .dashicons-edit-large {
    position: absolute;
    left: 0;
    top: calc(-20 * 100vw / 576);
    color: #fff;
}

@media (min-width: 768px) {
    .main-awards {
        padding-top: calc(96 * 100vw / 768);
    }

    .main-awards h2,
    .main-awards h3,
    .main-awards h4,
    .main-awards h5,
    .main-awards h6 {
        margin-bottom: calc(75 * 100vw / 768);
    }

    .main-awards figure {
        flex: 0 1 33%;
        margin-bottom: calc(64 * 100vw / 768);
    }

    .main-awards img {
        width: calc(150 * 100vw / 768);
    }

    .main-awards .dashicons-edit-large {
        top: calc(-20 * 100vw / 768);
    }

}

@media (min-width: 1200px) {
    .main-awards {
        padding-top: 96px;
    }

    .main-awards h2,
    .main-awards h3,
    .main-awards h4,
    .main-awards h5,
    .main-awards h6 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 75px;
    }

    .main-awards .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-awards figure {
        flex: 0 1 33%;
        margin-bottom: 64px;
    }

    .main-awards img {
        width: 150px;
    }

    .main-awards .dashicons-edit-large {
        top: -20px;
    }

}

/* main-clients */

.main-clients {
    padding-top: calc(96 * 100vw / 576);
    padding-bottom: calc(16 * 100vw / 576);
}

.main-clients h2 {
    color: #2361F5;
    font-family: 'G700';
    font-size: calc(28 / 16 * 1rem);
    line-height: calc(34 / 16 * 1rem);
    margin-bottom: calc(96 * 100vw / 576);
}

.main-clients-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-clients-block {
    flex: 0 1 48%;
    margin-bottom: calc(64 * 100vw / 576);
    display: flex;
    flex-direction: column;
}

.main-clients-block img {
    align-self: start;
}

.main-clients-block h4 {
    color: #000;
    font-family: 'T400';
    font-size: calc(12 / 16 * 1rem);
    line-height: calc(14 / 16 * 1rem);
}

.main-clients-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 48%;
    margin-bottom: calc(64 * 100vw / 576);
    padding-left: calc(16 * 100vw / 576);
}

.main-clients-inner:hover {
    text-decoration: none;
}

.main-clients-inner a {
    display: inline-block;
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    text-transform: uppercase;
    position: relative;
    color: #000;
    font-family: 'T400';
}

.main-clients-inner a:hover {
    text-decoration: none;
}

.main-clients-inner img {
    margin-left: calc(2 * 100vw / 576);
    width: calc(19 * 100vw / 576);
}

.main-client-descr {
    font-family: 'T400';
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    text-transform: uppercase;
}

.main-clients-container{
    padding-bottom: calc(96 * 100vw / 576);
}

@media (min-width: 768px) {
    .main-clients {
        padding-top: calc(96 * 100vw / 768);
        padding-bottom: calc(16 * 100vw / 768);
    }

    .main-clients h2 {
        font-size: calc(28 / 16 * 1rem);
        line-height: calc(34 / 16 * 1rem);
        margin-bottom: calc(96 * 100vw / 768);
    }

    .main-clients-block {
        margin-bottom: calc(64 * 100vw / 768);
        flex: 0 1 31%;
    }

    .main-clients-block h4 {
        font-size: calc(10 / 16 * 1rem);
        line-height: calc(12 / 16 * 1rem);
    }

    .main-clients-inner {
        flex: 0 1 31%;
        margin-bottom: calc(64 * 100vw / 768);
        margin-right: auto;
        padding-left: calc(16 * 100vw / 768);
    }

    .main-clients-inner a:before {
        width: calc(19 * 100vw / 768);
        height: calc(1 * 100vw / 768);
        right: calc(-27 * 100vw / 768);
    }

    .main-clients-inner a:after {
        width: calc(5 * 100vw / 768);
        height: calc(5 * 100vw / 768);
        right: calc(-27 * 100vw / 768);
        border-right: calc(1 * 100vw / 768) solid rgba(0, 0, 0, 1);
        border-bottom: calc(1 * 100vw / 768) solid rgba(0, 0, 0, 1);
    }

    .main-clients-container{
        padding-bottom: calc(96 * 100vw / 768);
    }

}

@media (min-width: 1200px) {
    .main-clients {
        padding-top: 96px;
        padding-bottom: 16px;
    }

    .main-clients h2 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 81px;
    }

    .main-clients-block {
        flex: 0 1 25%;
        margin-bottom: 64px;
        padding: 0 16px;
    }

    .main-clients-block figure {
        transition: all .2s ease;
    }

    .main-clients-block figure:hover {
        transform: scale(1.1);
    }

    .main-clients-block h4 {
        font-size: 12px;
        line-height: 14px;
    }

    .main-clients-inner {
        flex: 0 1 25%;
        margin-bottom: 64px;
        justify-content: start;
        padding-left: 16px;
    }

    .main-clients-inner a {
        color: #000;
        font-size: 16px;
        line-height: 19px;
        transition: all .2s ease;
    }

    .main-clients-inner a:hover {
        color: #2361F5;
    }

    .main-client-descr {
        font-size: 16px;
        line-height: 19px;
    }

    .main-clients-container{
        padding-bottom: 133px;
    }
}

/* to-up */

.footer .container {
    position: relative;
}

.to-up {
    width: calc(66 * 100vw / 576);
    height: calc(36 * 100vw / 576);
    right: calc(66 * 100vw / 576);
    top: calc(57 * 100vw / 576);
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

.to-up svg path {
    fill: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
    .to-up {
        width: calc(66 * 100vw / 768);
        height: calc(36 * 100vw / 768);
        right: calc(66 * 100vw / 768);
        top: calc(26 * 100vw / 768);
    }
}

@media (min-width: 1200px) {
    .to-up {
        width: 66px;
        height: 36px;
        right: 66px;
        top: 26px;
    }

    .to-up:hover path {
        fill: rgba(255, 255, 255, 0.82);
    }
}

/* Page SERVICES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.services {
    padding-top: calc(130 * 100vw / 576);
    padding-bottom: calc(16 * 100vw / 576);
}

.services h2 {
    padding-top: calc(32 * 100vw / 576);
    margin-bottom: calc(32 * 100vw / 576);
    color: #2361F5;
    font-size: calc(28 / 16 * 1rem);
    line-height: calc(34 / 16 * 1rem);
    text-transform: uppercase;
    font-family: 'G700';
    width: calc(320 * 100vw / 576);
}

.services h3 {
    padding-top: calc(19 * 100vw / 576);
}

.services h3 {
    position: relative;
    margin-bottom: calc(19 * 100vw / 576);
}

.services h3:before {
    position: absolute;
    content: "/";
    left: 0;
    top: 0;
}

.services h3,
.services h3:before {
    color: #000;
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    font-family: 'T700';
    text-transform: uppercase;
}

.services ul {
    margin-bottom: calc(32 * 100vw / 576);
    padding-left: calc(14 * 100vw / 576);
    list-style: none;
}

.services li {
    position: relative;
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    font-family: 'T400';
}

.services li:before {
    content: "";
    position: absolute;
    width: calc(7 * 100vw / 576);
    height: calc(2 * 100vw / 576);
    background: #000;
    left: calc(-11 * 100vw / 576);
    top: 53%;
}

.services-block p {
    color: #2361F5;
    font-size: calc(18 / 16 * 1rem);
    line-height: calc(22 / 16 * 1rem);
    font-family: 'T700';
    text-transform: uppercase;
}

.services-bottom {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    color: #000;
    text-transform: uppercase;
    text-align: justify;
    font-family: 'T400';
    padding-top: calc(96 * 100vw / 576);
}

@media (min-width: 768px) {
    .services {
        padding-top: calc(130 * 100vw / 768);
        padding-bottom: calc(16 * 100vw / 768);
    }

    .services h2 {
        padding-top: calc(32 * 100vw / 768);
        margin-bottom: calc(32 * 100vw / 768);
        width: calc(320 * 100vw / 768);
    }

    .services h3 {
        padding-top: calc(19 * 100vw / 768);
    }

    .services h3 {
        margin-bottom: calc(19 * 100vw / 768);
    }

    .services ul {
        margin-bottom: calc(32 * 100vw / 768);
        padding-left: calc(14 * 100vw / 768);
    }

    .services li:before {
        width: calc(7 * 100vw / 768);
        height: calc(2 * 100vw / 768);
        left: calc(-11 * 100vw / 768);
    }

    .services-bottom {
        padding-top: calc(96 * 100vw / 768);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .services {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .services {
        padding-top: 130px;
        padding-bottom: 16px;
    }

    .services h2 {
        padding-top: 32px;
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 34px;
        width: 320px;
    }

    .services h3 {
        padding-top: 19px;
    }

    .services h3 {
        margin-bottom: 19px;
    }

    .services h3,
    .services h3:before {
        font-size: 16px;
        line-height: 19px;
    }

    .services ul {
        margin-bottom: 32px;
        padding-left: 14px;
    }

    .services li {
        font-size: 16px;
        line-height: 19px;
    }

    .services li:before {
        width: 7px;
        height: 2px;
        background: #000;
        left: -11px;
        top: 53%;
    }

    .services-block p {
        font-size: 18px;
        line-height: 22px;
    }

    .services-bottom {
        font-size: 16px;
        line-height: 19px;
        padding-top: 96px;
    }

    .services-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .services-block {
        flex: 0 1 50%;
        padding-right: 16px;
    }
}

/* Page ABOUT !!!!!!!!!!!!!!!!!!!!!!! */

.about {
    padding-top: calc(162 * 100vw / 576);
}

.about-block {
    padding-bottom: calc(49 * 100vw / 576);
}

.about-block h3 {
    color: #2361F5;
    font-size: calc(28 / 16 * 1rem);
    line-height: calc(33 / 16 * 1rem);
    font-family: 'G700';
    margin-bottom: calc(32 * 100vw / 576);
}

.about-block p {
    color: #000;
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    font-family: 'T400';
}

.about-btm {
    padding-top: calc(24 * 100vw / 576);
    padding-bottom: calc(8 * 100vw / 576);
}

.about-btm h1 {
    font-size: calc(52 / 16 * 1rem);
    line-height: calc(65 / 16 * 1rem);
    font-family: 'G700';
    color: #2361F5;
    margin-bottom: calc(64 * 100vw / 576);
}

.about-btm p {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    font-family: 'T700';
    color: #000;
}

@media (min-width: 768px) {
    .about {
        padding-top: calc(162 * 100vw / 768);
    }

    .about-block {
        padding-bottom: calc(49 * 100vw / 768);
    }

    .about-block h3 {
        margin-bottom: calc(32 * 100vw / 768);
    }

    .about-btm {
        padding-top: calc(24 * 100vw / 768);
        padding-bottom: calc(8 * 100vw / 768);
    }

    .about-btm h1 {
        margin-bottom: calc(64 * 100vw / 768);
    }

}

@media (min-width: 1200px) {
    .about {
        padding-top: 162px;
    }

    .about-block {
        padding-bottom: 49px;
    }

    .about-block h3 {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 32px;
    }

    .about-block p {
        font-size: 16px;
        line-height: 19px;
    }

    .about-btm {
        padding-top: 24px;
        padding-bottom: 8px;
    }

    .about-btm h1 {
        font-size: 52px;
        line-height: 65px;
        margin-bottom: 64px;
    }

    .about-btm p {
        font-size: 16px;
        line-height: 19px;
    }
}

/* post-edit-link */

.dashicons .post-edit-link {
    padding-left: 5px;
    font-family: 'Times New Roman';
    text-transform: none;
    font-size: 20px;
    color: #2361F5;
}

.dashicons-edit-large {
    color: #2361F5;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main-clients-inner .dashicons-edit-large {
    align-self: start;
    position: relative;
}

.main-clients-inner .post-edit-link {
    position: absolute;
    top: 0;
    left: 20px;
}

/* Page CONTACTS!!!!!!!!!!!!! */

.contact {
    padding-top: calc(162 * 100vw / 576);
}

.contact h1 {
    font-size: calc(54 / 16 * 1rem);
    line-height: calc(65 / 16 * 1rem);
    font-family: 'G700';
    color: #2361F5;
    margin-bottom: calc(64 * 100vw / 576);
    text-transform: uppercase;
}

.contact-head p {
    font-size: calc(20 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
    font-family: 'T700';
    color: #000;
    margin-bottom: calc(32 * 100vw / 576);
    text-transform: uppercase;
}

.contact-center p {
    margin-bottom: calc(32 * 100vw / 576);
}

.contact-center p a {
    font-size: calc(20 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
    font-family: 'T700';
    text-transform: uppercase;
    color: #2361F5;
}

.contact-center ul {
    display: flex;
    justify-content: start;
    list-style: none;
    padding-left: 0;
    padding-bottom: calc(150 * 100vw / 576);
    padding-top: calc(98 * 100vw / 576);
}

.contact-center li {
    margin-right: calc(77 * 100vw / 576);
    width: calc(60 * 100vw / 576);
    height: calc(60 * 100vw / 576);
}

.contact-center a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.contact-btm img {
    object-fit: contain;
    object-position: center;
}

.contact-btm {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(19 / 16 * 1rem);
    font-family: 'T400';
    text-align: justify;
    text-transform: uppercase;
    padding-bottom: calc(16 * 100vw / 576);
}

@media (min-width: 768px) {
    .contact {
        padding-top: calc(162 * 100vw / 768);
    }

    .contact h1 {
        margin-bottom: calc(64 * 100vw / 768);
    }

    .contact-head p {
        font-size: calc(20 / 16 * 1rem);
        line-height: calc(24 / 16 * 1rem);
        margin-bottom: calc(32 * 100vw / 768);
    }

    .contact-center p {
        margin-bottom: calc(32 * 100vw / 768);
    }

    .contact-center p a {
        font-size: calc(20 / 16 * 1rem);
        line-height: calc(24 / 16 * 1rem);
    }

    .contact-center ul {
        padding-bottom: calc(150 * 100vw / 768);
        padding-top: calc(98 * 100vw / 768);
    }

    .contact-center li {
        margin-right: calc(77 * 100vw / 768);
        width: calc(60 * 100vw / 768);
        height: calc(60 * 100vw / 768);
    }

    .contact-btm {
        padding-bottom: calc(16 * 100vw / 768);
    }
}

@media (min-width: 1200px) {
    .contact {
        padding-top: 162px;
    }

    .contact h1 {
        font-size: 54px;
        line-height: 65px;
        margin-bottom: 64px;
    }

    .contact-head p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .contact-center p {
        margin-bottom: 32px;
    }

    .contact-center p a {
        font-size: 20px;
        line-height: 24px;
        transition: all .2s ease;
    }

    .contact-center p a:hover {
        color: #000;
    }

    .contact-center ul {
        padding-bottom: 150px;
        padding-top: 98px;
    }

    .contact-center li {
        margin-right: 77px;
        width: 60px;
        transition: all .2s ease;
        height: 60px;
        border-radius: 5px
    }

    .contact-center li:hover {
        transform: scale(1.1);
    }

    .contact-btm {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 16px;
    }
}

/* 404 error page !!!!!!!!!!!!!!!!!!!!!! */

.error-page {
    padding-top: calc(160 * 100vw / 576);
}

.error-page h1,
.error-page h2,
.error-page h3,
.error-page h4,
.error-page h5,
.error-page h6 {
    font-family: 'T700';
    color: #000;
    text-transform: uppercase;
}

.error-page h1 {
    font-size: calc(140 / 16 * 1rem);
    line-height: calc(168 / 16 * 1rem);
    margin-bottom: calc(32 * 100vw / 576);
}

.error-page h2,
.error-page h3 {
    font-size: calc(64 / 16 * 1rem);
    line-height: calc(77 / 16 * 1rem);
    padding: 0;
}

.error-page h2 mark,
.error-page h3 mark {
    padding: 0;
}

.error-page p {
    font-family: 'T400';
    text-transform: uppercase;
    color: #000;
    font-size: calc(40 / 16 * 1rem);
    line-height: calc(48 / 16 * 1rem);
    margin-bottom: calc(32 * 100vw / 576);
}

.error-page p+p {
    color: #646464;
    font-size: calc(18 / 16 * 1rem);
    line-height: calc(25 / 16 * 1rem);
}

.error-page .wp-block-button {
    padding-top: calc(32 * 100vw / 576);
    width: calc(350 * 100vw / 576);
    height: calc(80 * 100vw / 576);
    margin-bottom: calc(124 * 100vw / 576);
    padding: 0;
    margin: 0;
}

.error-page .wp-block-button__link {
    width: calc(350 * 100vw / 576);
    height: calc(80 * 100vw / 576);
    font-size: calc(24 / 16 * 1rem);
    line-height: calc(29 / 16 * 1rem);
    margin-bottom: 0;
    font-family: 'T700';
    background: #000;
}

.error-page .wp-block-buttons {
    justify-content: start;
}

.error-page .wp-block-buttons {
    width: calc(350 * 100vw / 576);
    height: calc(112 * 100vw / 576);
    margin-bottom: calc(87 * 100vw / 576);
    padding-top: calc(32 * 100vw / 576);
}

@media (min-width: 768px) {
    .error-page {
        padding-top: calc(160 * 100vw / 768);
    }

    .error-page h1 {
        margin-bottom: calc(32 * 100vw / 768);
    }

    .error-page p {
        margin-bottom: calc(32 * 100vw / 768);
    }

    .error-page .wp-block-button {
        width: calc(350 * 100vw / 768);
        height: calc(80 * 100vw / 768);
    }

    .error-page .wp-block-button__link {
        width: calc(350 * 100vw / 768);
        height: calc(80 * 100vw / 768);
    }

    .error-page .wp-block-buttons {
        width: calc(350 * 100vw / 768);
        height: calc(112 * 100vw / 768);
        margin-bottom: calc(87 * 100vw / 768);
        padding-top: calc(32 * 100vw / 768);
    }

}

@media (min-width: 1200px) {
    .error-page {
        padding-top: 160px;
    }

    .error-page h1 {
        font-size: 140px;
        line-height: 168px;
        margin-bottom: 32px;
    }

    .error-page h2,
    .error-page h3 {
        font-size: 64px;
        line-height: 77px;
    }

    .error-page p {
        font-size: 56px;
        line-height: 67px;
        margin-bottom: 32px;
    }

    .error-page p+p {
        font-size: 18px;
        line-height: 25px;
    }

    .error-page .wp-block-button {
        width: 350px;
        height: 80px;
    }

    .error-page .wp-block-button__link {
        width: 350px;
        height: 80px;
        font-size: 24px;
        line-height: 29px;
        transition: all .2s ease-out;
    }

    .error-page .wp-block-button__link:hover {
        background: #2361F5;
    }

    .error-page .wp-block-buttons {
        width: 350px;
        height: 112px;
        margin-bottom: 87px;
        padding-top: 32px;
    }

}

/* Page CASES !!!!!!!!!!!!!!!!!!!!!!!! */

.page-cases {
    padding-top: calc(160 * 100vw / 576);
}

#menu-cases-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-flow: row wrap;
    padding-bottom: calc(32 * 100vw / 576);
}

#menu-cases-menu li {
    width: calc(240 * 100vw / 576);
    height: calc(60 * 100vw / 576);
    margin-bottom: calc(16 * 100vw / 576);
}

#menu-cases-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: calc(20 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
    text-transform: uppercase;
    color: #000;
    transition: all .2s ease;
    font-family: 'T700';
    border: calc(3 * 100vw / 576) solid #000;
    border-radius: calc(40 * 100vw / 576);
    box-sizing: border-box;
    background: #fff;
}

#menu-cases-menu .act {
    background: #2361F5;
    color: #fff;
    border: calc(3 * 100vw / 576) solid #2361F5;
}

.page-cases .main-cases-btn ul a {
    display: none;
}

.cases {
    display: none;
}

.page-cases-wrapper {
    padding-bottom: calc(112 * 100vw / 576);
}

@media (min-width: 768px) {

    .page-cases {
        padding-top: calc(160 * 100vw / 768);
    }

    #menu-cases-menu {
        width: 510px;
        padding-bottom: 32px;
    }

    #menu-cases-menu li {
        width: 240px;
        height: 60px;
        margin-bottom: 16px;
    }

    #menu-cases-menu a {
        border: 3px solid #000;
        border-radius: 40px;
        font-size: 20px;
        line-height: 24px;
    }

    #menu-cases-menu .act {
        border: 3px solid #2361F5;
    }

    .page-cases-wrapper {
        padding-bottom: calc(112 * 100vw / 768);
    }

    .page-cases-fix {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media (min-width: 1200px) {

    .page-cases {
        padding-top: 160px;
    }

    #menu-cases-menu {
        padding-bottom: 32px;
        width: 100%;
        justify-content: start;
    }

    #menu-cases-menu li {
        width: 240px;
        height: 60px;
        margin-bottom: 16px;
        margin-right: 30px;
    }

    #menu-cases-menu a {
        font-size: 20px;
        line-height: 24px;
        border: 3px solid #000;
        border-radius: 40px;
    }

    #menu-cases-menu .act {
        border: 3px solid #2361F5;
    }

    .page-cases-wrapper {
        padding-bottom: 112px;
    }

    .page-cases .main-client-descr{
        padding-top: 0;
    }
}

/* Page single-case !!!!!!!!!!!!!!!!!!!!!!!! */

.single-case{
    padding-top: calc(160 * 100vw / 576);
}

.single-case h1, .single-case h2, .single-case h3, .single-case h4, .single-case h5, .single-case h6{
    font-family: 'G700';
    margin-bottom: calc(32 * 100vw / 576);
}

.single-case p{
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(22 / 16 * 1rem);
    margin-bottom: calc(16 * 100vw / 576);
}

.wp-block-embed__wrapper {
    position:relative;
    padding: 0 0 56.25% 0;
    height:0;
    overflow:hidden;
    }
    .wp-block-embed__wrapper iframe, .wp-block-embed__wrapper object,.wp-block-embed__wrapper embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    }

@media (min-width: 768px) {

    .single-case {
        padding-top: calc(160 * 100vw / 768);
    }

    .single-case h1, .single-case h2, .single-case h3, .single-case h4, .single-case h5, .single-case h6{
        margin-bottom: calc(32 * 100vw / 768);
    }
    
    .single-case p{
        margin-bottom: calc(16 * 100vw / 768);
    }

}


@media (min-width: 1200px) {

    .single-case{
        padding-top: 160px;
    }

    .single-case h1, .single-case h2, .single-case h3, .single-case h4, .single-case h5, .single-case h6{
        margin-bottom: 32px;
    }

    .single-case p{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
    }

}